{% extends 'layout.html' %}

{% block title %} Homepage {% endblock %}

{% block main %}

<h1 class="text-center">Transaction History</h1>

<form id="search" action="/search", method="post">
    <input autocomplete="off" autofocus type="text" name="name" placeholder="Search by Customer Name">
    <span>or</span>
    <input autocomplete="off" autofocus type="text" name="date" placeholder="Date (yyyy-mm-dd)">
    <input type="submit" value="Search">
</form>

<div class="table-responsive">
    <table>
        <tr>
            <th>Transaction ID</th>
            <th>Customer Name</th>
            <th>Network</th>
            <th>Data or Airtime</th>
            <th>Payment Method</th>
            <th>Plan</th>
            <th>Amount Paid</th>
            <th>Date</th>
            <th>Remark</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_id }}</td>
                <td>{{ transaction.cust_name }}</td>
                <td>{{ transaction.network }}</td>
                <td>{{ transaction.data_or_airtime }}</td>
                <td>{{ transaction.payment_method }}</td>
                <td>{{ transaction.plan }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.remark }}</td>
            </tr>
        {% endfor %}
    </table>
</div>


<!-- Delete transaction section -->
<div id="delete">
    <div id="buttons">
        <button id="delete">Delete Transaction</button>
    </div>

    <div class="container delete-container" style="display: none;">
        <form action="/delete_transaction" , method="post">
                <div class="col delete-col1">
                    <input autocomplete="off" autofocus type="text" name="id" placeholder="Enter Transaction ID">
                </div>
                <div class="col delete-col1" style="display: inline-flex;" >
                    <input id="password" autocomplete="off" autofocus type="password" name="password" placeholder="Enter Password">
                </div> 
                <div class="col delete-col2" style="display: inline-flex;">
                    <input  id="show-password" type="button" value="show">
                </div>
                <div class="col delete-col2">
                    <input type="submit" value="Submit">
                </div>
        </form>
    </div>
</div>



<script>
    document.getElementById('buttons').addEventListener('click', function() {

        let container = document.querySelector(".delete-container")
        if (container.style.display === "none"){
            container.style.display = "block";
        }
        else{
            container.style.display = "none"
        }
    });

    const showPassword = document.getElementById('show-password')

    showPassword.addEventListener('click', function() {
        let password = document.getElementById('password')

        if (password.type === "password") {
            password.type = 'text';
            showPassword.value = 'hide';
        }
        else{
            password.type = 'password';
            showPassword.value = 'show';
        }
    })

</script>


{% endblock %}